<hr class="bg-success" style="height: 2px" />
<main>
    <div>
        <h2 class="text-center">Track Name: @Model.Name</h2>
        <h2 class="text-center">Track Price: @Model.Price</h2>
        <hr class="bg-success w-50" style="height: 2px" />
        <div class="d-flex justify-content-center">
            <iframe width="790" height="400" src="@Model.Link"></iframe>
        </div>
        <hr class="bg-success w-50" style="height: 2px" />
    </div>

    <div class="d-flex justify-content-center">
        <a class="btn btn-success" href="/Albums/Details?id=@Model.AlbumId">Back To Album</a>
    </div>
</main>